@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left1{
    width: 60%;
}

.right{
    width: 40%;
    background: url(assets/page1_bg.png) center/cover;
    display: flex;
    justify-content: end;
}

.menu{
    padding: 20px 150px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 104px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.navbar .links a{
    text-decoration: none;
    position: relative;
    font-size: 24px;
    color: #837171;
    font-weight: 400;
    font-family: "Alegreya", serif;
}

.navbar .links a:focus{
    color: #3A1212;
}

.navbar .links a:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #FF2625;
    transition: all .5s;
}

.navbar .links a:focus::before{
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 70px 105px;
}

.main h2{
    font-size: 26px;
    color: #FF2625;
    line-height: 41px;
    margin-bottom: 39px;
}

.main h1{
    font-size: 80px;
    color: #3A1212;
    line-height: 88px;
    font-weight: 700;
    width: 472px;
    margin-bottom: 23px;
}

.main p{
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    width: 500px;
    color: #504747;
    margin-bottom: 60px;
}

.btns{
    display: flex;
    gap: 30px;
}

.btns button:nth-child(1){
    width: 200px;
    height: 58px;
    border-radius: 29px;
    border: none;
    background-color: #FF2625;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.btns button:nth-child(2){
    width: 200px;
    height: 58px;
    background-color: #fff;
    color:#3A1212;
    border: 1px solid #FF2625;
    border-radius: 29px;
    font-size: 22px;
    font-weight: 700;
}

.page2{
    width: 100%;
    height: 100vh;
}

.page2 > h2{
    text-align: center;
    font-size: 26px;
    color: #FF2625;
    font-weight: 600;
    line-height: 41px;
    margin-top: 171px;
}

.page2 > h1{
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    color: #3A1212;
    line-height: 57px;
    margin-top: 28px;
}

.line{
    width: 100%;
    height: 282px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 51px;
}

.nile{
    height: 282px;
    width: 270px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 47px;
    transition: .3s all ease-in-out;
}

.nile:hover{
    height: 332px;
}

.nile h1{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.page3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
}

.page3 .right3{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right3 h2{
    color: #FF2625;
    font-size: 26px;
    font-weight: 600;
    line-height: 41px;
}

.right3 h1{
    font-size: 44px;
    line-height: 57px;
    color: #3A1212;
    font-weight: 700;
    width: 483px;
}

.right3 p{
    font-size: 22px;
    width: 515px;
    line-height: 35px;
    font-weight: 400;
    color: #504747;
    font-family: "Alegreya", serif;
}

.right3 > button{
    width: 200px;
    height: 58px;
    border-radius: 29px;
    background-color: #FF2625;
    border: none;
    color: #fff;
    font-size: 22px;
}

.page5{
    width: 100%;
    height: 100vh;
}

.page5 > h2{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 41px;
    color: #FF2625;
    margin-top: 100px;
    margin-bottom: 28px;
}

.page5 > h1{
    text-align: center;
    font-size: 44px;
    line-height: 51px;
    color: #3A1212;
    font-weight: 700;
}

.mine{
    width: 100%;
    height: 380px;
    justify-content: center;
    display: flex;
    gap: 82px;
}

.cine1{
    width: 269px;
    height: 380px;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.cine2{
    width: 266px;
    height: 395px;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cine1 h1{
    font-size: 24px;
    font-weight: 700;
    color: #000;
    font-family: "Alegreya", serif;
    margin-top: 30px;
}

.cine1 p{
    font-size: 20px;
    color: #504747;
    font-weight: 400;
    font-family: "Alegreya", serif;
}

.cine2 h1{
    font-size: 24px;
    font-weight: 700;
    color: #000;
    font-family: "Alegreya", serif;
    margin-top: 30px;
}

.cine2 p{
    font-size: 20px;
    color: #504747;
    font-weight: 400;
    font-family: "Alegreya", serif;
}

.page6{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.right6 h2{
    color: #FF2625;
    font-size: 26px;
    line-height: 41px;
    font-weight: 600;
}

.right6 h1{
    font-size: 44px;
    font-weight: 57px;
    color: #3A1212;
    font-weight: 700;
}

.right6 p{
    font-size: 22px;
    color: #504747;
    font-weight: 400;
    width: 510px;
}

.right6 h3{
    color: #3A1212;
    font-size: 24px;
}

.right6 h4{
    font-size: 18px;
    color: #504747;
}

.source{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right6{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page7{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.center h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 57px;
    color: #3A1212;
}

.center p{
    font-size: 22px;
    line-height: 35px;
    color: #504747;
    font-family: "Alegreya", serif;
}

.ibut{
    display: flex;
    gap: 8px;
}

.ibut input{
    width: 510px;
    height: 66px;
    background-color: #eee;
    border-radius: 36px;
    font-size: 24px;
    font-weight: 400;
    color: #9B9DAC;
    text-indent: 79px;
    border: none;
    font-family: "Alegreya", serif;
    outline: none;
}

.ibut button{
    width: 150px;
    height: 48px;
    background-color: #FF2625;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 35px;
    transform: translate(-200px );
    cursor: pointer;
}

footer{
    width: 100%;
    height: 344px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 168px;
    background-color: #FFF3F4E5;
}

footer .lomo{
    display: flex;
    gap: 4px;
    justify-content: start;
    align-items: start;
}

footer .meta{
    display: flex;
    flex-direction: column;
}

footer .meta h1{
    font-size: 28px;
    font-weight: 400;
    color: #3A1212;
}

footer .meta p{
    font-size: 22px;
    width: 300px;
    font-weight: 40px;
    color: #504747;
    line-height: 34px;
    margin-top: 25px;
}

footer .meta .network{
    width: 219px;
    height: 44px;
}

footer .pies{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer .socal{
    display: flex;
    gap: 168px;
}

footer .ceta{
    display: flex;
    flex-direction: column;
    gap: 39px;
}

footer .ceta h1{
    font-size: 24px;
    font-weight: 600;
    color: #3A1212;
}

footer .ceta p{
    font-size: 22px;
    color: #504747;
    font-weight: 400;
    font-family: "Alegreya", serif;
}
